* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.content {
  width: 100%;
  max-width: 1440px;
  margin: 20px auto;
  padding: 20px;

  background: black;
}

.header {
  padding: 20px;
  background: red;

  font-size: 24px;
}

.columns {
  font-size: 0;
}

.column {
  display: inline-block;
  padding: 20px;

  font-size: 24px;
}
.column-one {
  width: 60%;

  background: green;
}
.column-two {
  width: 40%;

  background: blue;
}
